/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/* Elements */

body {
  /*background: #000000 url(images/img1.gif) repeat-x left top; */
  margin: 0px;
  padding: 0px;
  background: #eeeeee;
  text-align: justify;
  font-family: Helvetica,"Hiragino Kaku Gothic Pro",meiryo,Osaka,sans-serif;
  font-size: 11px;
  color: #333333;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
}

h2, h3 {
  margin-top: 0px;
}

h4, h5, h6 {
}

p, ol, ul, dl, blockquote {
}

a {
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
}

img { border: 2px solid #FFFFFF; }

.img1 {
  float: left;
  margin: 5px 15px 0px 0px;
}

/* Search */
#search {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

/** Forms */

form {
  margin: 0px;
  padding: 5px 0px 5px 0px;
}

.input_q {
  background-color: #FFFFFF;
  border: 1px solid #666666;
  color: #000000;
  font-size: 1.3em;
}

/* Header */

#header {
  width: 500px;
  height: 80px;
  background-color: #000000;
  margin: 0px auto;
  text-align: center;
  padding-top: 20px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#header h1 {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 4em;
}

#header h2 {
  margin: 0px;
  padding-top: 10px;
  font-size: 12px;
  letter-spacing: -1px;
}

#header a {
  text-decoration: none;
  color: #FFFFFF;
}

/* Post */
.post {
  padding: 0.5em 2em 0.5em 1em;
}

.post h3 {
  border-bottom: 3px dashed #B5D6FF;
  background-position: top;
  margin-bottom: .5em;
  font-size: 12px;;
  color: #FFCC00;
}

.pager {
  margin-top: 2em;
  text-align: center;
}
.pager .prev {
  margin-right: 5em;
}
.pager .next {
  margin-left: 5em;
}

.file * {
  color: #DDCB00;
}

/* Content */

#container {
  width: 500px;
  margin: 0px auto;
  margin-top: 1em;
  background: #000000;
  padding: 0px;
}

#content {
  color: #FFFFFF;
  background: #000000;
}

#content .search {
  background-color: #ccf; 
  border-top: 5px #00f solid;
  border-bottom: 5px #00f solid;
  margin-bottom: 20px;
  height: 65px;
  font-size: 1.3em;
  padding-top: 1em;
  text-align: center;
}
/* Footer */

#footer {
  width: 500px;
  background-color: #ccf; 
  border-bottom: 5px #00f solid;
  height: 6em;
  margin: 0px auto;
  padding: 3px 0px;
  color: #2E66AE;
}

#footer p {
  margin: 0px;
  padding-top: 5px;
  text-align: center;
  font-size: 10px;
}

#footer a {
  color: #1A4986;
}

